VITE_NHOST_URL=http://localhost:1337
#VITE_NHOST_REGION=
#VITE_NHOST_SUBDOMAIN=localhost
VITE_FRONTEND_URL=http://localhost:4010
VITE_ONESIGNAL_APP_ID=your Onesignal AppId
VITE_ONESIGNAL_LOCALHOST=true
