.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log
pnpm-lock.yaml
nhost-demo-template/.env.development
nhost-demo-template/*.env
nhost-demo-template/*.development
nhost-demo-template/.env.development
.env.*
.env.development
